<%- include('../../partials/head.ejs')  %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="card box-shadow">
                <div class="card-body">
                    <h3>Hello</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <section class="mb-5">
                <a href="/explorer?filter=latest"
                    class="btn <%= filter==='latest' ? 'btn-primary' : 'btn-secondary' %> ">Latest</a>

                <a href="/explorer?filter=week"
                    class="btn <%= filter=== 'week' ? 'btn-primary' : 'btn-secondary' %> ">Week</a>

                <a href="/explorer?filter=month"
                    class="btn <%= filter=== 'month' ? 'btn-primary' : 'btn-secondary' %> ">Month</a>

                <a href="/explorer?filter=all"
                    class="btn <%= filter=== 'all' ? 'btn-primary' : 'btn-secondary' %> ">All</a>

            </section>

            <section>
                <% if(posts.length === 0){ %>
                <p class="text-center text-muted">There is no post to show</p>

                <% }else{ %>
                <% for(let post of posts){ %>
                <div class="newsfeed-card card card-body mb-3">
                    <% if(post.thumbnail){ %>
                    <img class="img-fluid mb-2" src="<%= post.thumbnail %> " alt="">
                    <% } %>

                    <div class="c-header d-flex">
                        <div class="profile-pic"><img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                                alt=""></div>
                        <div class="card-detail">
                            <p class="name"><%= post.author.username %></p>
                            <p class="posted"><%= moment(post.createdAt) %></p>
                        </div>

                    </div>

                    <div class="c-body" style="padding: 0px 10px;">
                        <a href="explorer/<%= post._id %> " class="text-dark">
                            <h5><%= post.title %> </h5>
                            <p class="mb-4"> <%= truncate(post.body) %> </p>
                        </a>
                        <div class="c-footer">
                            <div class="like">
                                <i class="fas fa-heart" id="likeBtn" data-post="<%= post._id %>"></i>
                                <span id="likeCount"><%= post.likes.length %></span>
                            </div>
                            <div class="comment">
                                <i class="fas fa-comment"></i>
                                <span><%= post.comments.length %></span>
                            </div>
                            <div class="share">
                                <i class="fas fa-share"></i>
                                <span><%= Math.floor(Math.random() * 1000) + 1; %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <% } %>
            </section>

            <% if(totalPage > 1){ %>
            <nav>
                <ul class="pagination">
                    <li class="page-item <%= currentPage ===1 ? 'disabled' : '' %> ">
                        <a class="page-link"
                            href="<%= `/explorer?filter=${filter}&page=${currentPage-1}` %> ">Previous</a>
                    </li>

                    <% for(let i=1;i<totalPage;i++){ %>

                    <li class="page-item <%= currentPage === i ? 'active' : '' %> ">
                        <a class="page-link" href="<%= `/explorer?filter=${filter}&page=${i}` %> "><%= i %> </a>
                    </li>

                    <% } %>

                    <li class="page-item <%= currentPage === totalPage ? 'disabled' : '' %> ">
                        <a class="page-link" href="<%= `/explorer?filter=${filter}&page=${currentPage+1}` %> ">Next</a>
                    </li>
                </ul>
            </nav>
            <% } %>
        </div>

        <div class="col-sm-12 col-md-3">
            <div class="card-body">
                <h5>Sponsored</h5>
                <div class="card mb-3" style="max-height: 200px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="https://mdbootstrap.com/img/new/standard/nature/186.jpg" alt="..."
                                class="img-fluid" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">75% off your first purchase.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <ul class="list-group">
                    <li class="list-group-item  d-flex justify-content-center align-items-center text-dark rounded-0">
                        Category
                    </li>
                    <% for(let cat of categories) {%>
                    <a class="text-dark" href="/category/<%= cat.category %> ">
                        <li class="list-group-item list-hover d-flex justify-content-between align-items-center">
                            <%= cat.category %> <span class="badge text-dark rounded-pill"><%= cat.posts.length %>
                            </span>
                        </li>
                    </a>
                    <%}%>           
                </ul>
            </div>

            <div class="my-3">
                <ul class="list-group">
                    <li class="list-group-item  d-flex justify-content-center align-items-center text-dark rounded-0">
                        Top Author
                    </li>
                    <% for(let tu of topUser) {%>
                    <a class="text-dark" href="/author/<%= tu.user._id %> ">
                        <li class="list-group-item list-hover d-flex justify-content-between align-items-center">
                            <%= tu.name %> <span class="badge text-dark rounded-pill"> <%= tu.totalPost %>
                            </span>
                        </li>
                    </a>
                    <%}%>
                </ul>
            </div>
            <div class="my-3">
                <div class="profile mt-4">
                    <div class="profile__header">
                        <img class="profile__background img-fluid"
                            src="https://mdbootstrap.com/img/new/standard/nature/185.jpg" />
                        <img class="profile__picture img-fluid" src="/images/codeDocz logo.jpg" />
                    </div>
                    <div class="profile__content">
                        <div class="profile__bio">
                            <h3 class="profile__name">codeDocz</h3>
                        </div>
                        <div class="profile__twitter">
                            <div class="profile__twitter__follow">
                            <button class="profile__twitter__follow__button" style="background:#F70000">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs')  %>

                    <script>
                        window.onload = function () {
                            const likeBtn = document.getElementById('likeBtn')
                            const dislikeBtn = document.getElementById('disLikeBtn')

                            const likeCount = document.getElementById('likeCount')
                            const dislikeCount = document.getElementById('dislikeCount')


                            likeBtn.addEventListener('click', function (e) {
                                let postId = likeBtn.dataset.post

                                reqLikeDislike('likes', postId)
                                    .then(res => res.json())
                                    .then(data => {
                                        let likeText = `${data.totalLikes}`
                                        let dislikeText = `${data.totaldisLikes}`

                                        likeCount.innerHTML = likeText
                                        dislikeCount.innerHTML = dislikeText
                                    })
                                    .catch(e => {
                                        console.log(e)
                                    })
                            })


                            function reqLikeDislike(type, postId) {
                                let headers = new Headers()
                                headers.append('Accept', 'Application/JSON')
                                headers.append('Content-Type', 'Application/JSON')

                                let req = new Request(`/api/${type}/${postId}`, {
                                    method: "GET",
                                    headers,
                                    mode: 'cors'
                                })

                                return fetch(req)
                            }
                        }
                    </script>

                    </body>

                    </html>