<%- include('../../partials/head.ejs')  %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs')  %>
        </div>

        <div class="col-md-10">
            <div class="row my-5">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <h5>my recent post</h5>
                        <% if(posts.length ===0){ %>
                        <div class="text-center text-muted">
                            <p>theri is no post available</p>

                        </div>
                        <% }else{%>
                        <% for(let post of posts){ %>
                        <div class="card col-sm-3 m-1">
                            <% if(post.thumbnail){ %>
                            <img src="<%= post.thumbnail %> " alt="" class="card-img-top mt-3">
                            <% } %>
                            <div class="card-body p-2">
                                <a href="/explorer/<%= post._id %> " class="text-dark">
                                    <p class="my-2"> <%= post.title %> </p>
                                </a>
                            </div>
                        </div>
                        <% } %>
                        <% }%>
                    </div>

                    <div class="row my-2">
                        <h5>my recent bookmarks</h5>
                        <% if(bookmarks.length ===0){ %>
                        <div class="text-center text-muted">
                            <p>theri is no bookmarks available</p>

                        </div>
                        <% }else{%>
                        <% for(let post of bookmarks){ %>
                        <div class="card col-sm-3 m-1">
                            <% if(post.thumbnail){ %>
                            <img src="<%= post.thumbnail %> " alt="" class="card-img-top mt-3">
                            <% } %>
                            <div class="card-body p-2">
                                <a href="/explorer/<%= post._id %> " class="text-dark">
                                    <p class="my-2"> <%= post.title %> </p>
                                </a>
                            </div>
                        </div>
                        <% } %>
                        <% }%>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade bd-example-modal-lg" id="crop-modal" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <h5 class="modal-tite" id="exampleModalCenterTitle">
                        Resize Your Image
                    </h5>
                    <button type="button" class="close" data-dissmiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="cropped-image">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" id="cancel-cropping">Cancel</button>
                    <button class="btn btn-primary" id="upload-image">Upload</button>
                </div>
            </div>

        </div>

    </div>


    <%- include('../../partials/footer.ejs')  %>


    </body>

    </html>